/*  CSS RESET */

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITI */

.container{
    max-width: 1200px;
    margin: 0 auto;
}

/* GENERAL */

body{
    font-family: sans-serif;
}